/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    background-size: 100% auto;
}



h2{
    text-align: center;
}

.homepage a{
    color: rgb(192,240,96);
    display: block;
}

.homepage{
    padding-top: 150px;
}



.bridges{font-family: 'Arvo', serif;
    background: linear-gradient(314deg, #00AFFF, #2A0E2B, #0c515e);
    background-size: 600% 600%;
    color: #fff;
    text-align: center;

    -webkit-animation: bgAnim 2s ease infinite;
    -moz-animation: bgAnim 2s ease infinite;
    animation: bgAnim 2s ease infinite;

}

.bridges img{display: block; margin: 0 auto; padding-top: 75px;}
.bridges p{position: relative;}
.bridges .p1{  top: -300px;width: 175px;left: 6%;}
.bridges .p2{  top: -234px;width: 221px;left: 10%;}
.bridges .p3{  top: -234px;width: 180px;left: 50%;}
.bridges .p4{  top: -435px;width: 165px;left: 70%;}
.bridges .p5{  top: -628px;width: 165px;left: 74%;}
.bridges .p6{  top: -855px;width: 200px;left: 72%;}

.tentacles{
    background: -moz-linear-gradient(155deg, #09385F 15%, #CE5013 50%, #09385F 80%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(15%, #CE5013), color-stop(50%, #868427), color-stop(80%, #179EB0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(155deg, #09385F 15%, #CE5013 50%, #09385F 80%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(155deg, #09385F 15%, #CE5013 50%, #09385F 80%); /* Opera 11.10+ */
    background: -ms-linear-gradient(155deg, #09385F 15%, #CE5013 50%, #09385F 80%); /* IE10+ */
    background: linear-gradient(155deg, #09385F 15%, #CE5013 50%, #09385F 80%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#53C489', endColorstr='#7D43A3', GradientType=0); /* IE6-9 */
    background-size: 100% 500%;
    background-position: 0% 0%;
    -webkit-animation-name: colorful;
    -webkit-animation-duration: 50s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    margin: auto;
    width: 100%;
}

.tentacles img{opacity: .75; width: 75%; display: block; margin: 0 auto; padding: 50px 0;}

#catsContainer img{
    position: absolute;
}

@-webkit-keyframes colorful {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 0% 500%;
    }
}


@-webkit-keyframes bgAnim {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@-moz-keyframes bgAnim {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@keyframes bgAnim {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
